<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" color="dark">Saúde Infantil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="titulo-secao">Meus Dependentes</h2>
  <p class="texto-descritivo">Teste de componentes visuais:</p>

  <ion-button color="primary" expand="block">Vacina em Dia (Verde)</ion-button>
  <ion-button color="secondary" expand="block">Campanha (Amarelo)</ion-button>
  <ion-button color="tertiary" expand="block"
    >Vacina Atrasada (Laranja)</ion-button
  >
</ion-content>
